@model EntityLayer.Admin

@{
    ViewBag.Title = "AdminProfileDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminProfileDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
