@model IEnumerable<EntityLayer.BalanceModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Balance</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserBalanceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomAvId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
           
            <th></th>
        </tr>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserBalanceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomAvId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut)
                    </td>


                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserBalanceId }) |
                        @Html.ActionLink("Details", "DetailsBalance", new { id = item.UserBalanceId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserBalanceId })
                    </td>
                </tr>
            }
        </tbody>
</table>
</body>
</html>
