@model EntityLayer.Customer

@{
    ViewBag.Title = "BookCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BookCustomer</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd id="CustomerId" name="CustomerId">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catagory)
        </dt>

        <dd id="Catagory" name="Catagory">
            @Html.DisplayFor(model => model.Catagory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivaleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivaleTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nights)
        </dt>

        <dd id="nights" name="nights">
            @Html.DisplayFor(model => model.Nights)
        </dd>

    </dl>
</div>

<form method="post">
    <div class="form-group">
        <div class="control-label col-md-2">Available Rooms</div>
        <div class="col-md-20">
            <select class="form-control" id="room" name="room">
                @try
                {
                    foreach (var v in ViewBag.avRoom)
                    {
                        <option value="@v">@v</option>
                    }
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.ToString());
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Book" class="btn btn-primary block full-width m-b" />
        </div>
    </div>
</form>
    
    