@model DataLayer.Message

@{
    ViewBag.Title = "DetailsMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsMessage</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
